.nonogram, .field, .v-clues, .h-clues {
  display: flex;
  flex-flow: wrap;
}

.v-clues div,
.h-clues div {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nonogram {
  border: 1px solid #000;
}

.nonogram .v-clues {
  border-bottom: 1px solid #444;
}

.nonogram .h-clues {
  border-right: 1px solid #444;
}

.nonogram .corner {
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

.nonogram .right-border {
  border-right: 1px solid #999;
}

.nonogram .bottom-border {
  border-bottom: 1px solid #999;
}

.nonogram .filled {
  background-color: #000;
}
