.field {
  border: 1px solid #444;
  display: flex;
  flex-flow: wrap;
}

.field div {
  border-color: #eee;
}

.field .right-border {
  border-right: 1px solid #eee;
}

.field .bottom-border {
  border-bottom: 1px solid #eee;
}

.field .filled {
  background-color: #000;
}
